@keyframes aparece {
	0% { opacity: 0%; }
	100% { opacity: 100%;}
}
.contenedor {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation-name: aparece;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	border-radius: .7em;
	backdrop-filter: blur(4px);
}
.contenedor p {
	min-width: 300px;
	padding: 16px;
	text-align: justify;
}
.foto {
	height: 150px;
}
.info {
	max-width: 768px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.dark {
	background-color: #2238;
}
.light {
	background-color: #FFE8;
}
