/*
 *	Estilos del Componente Card.
 * */

@keyframes aparece {
	0% {
		opacity: 0%;
		top: 75px;
	}
	100% {
		opacity: 100%;
		top: 0;
	}
}
@keyframes desaparece {
	0% {
		opacity: 100%;
		transform: scale(100%); 
	}
	100% {
		opacity: 0%;
		transform: scale(50%); 
	}
}
.contenedor {
	position: relative;
	
	margin: 10px 1px;
	padding: 5px;
	
	box-shadow: #0003 0px 3px 8px;
	
	backdrop-filter: blur(4px);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*
	animation: name duration timing-function;
	 */
	animation: aparece .3s cubic-bezier(.22,.61,.36,1);
}
.light {
	background-color: #FFE6;
}
.dark {
	background-color: #2236;
}
.light:hover {
	background-color: #FFEA;
}
.dark:hover {
	background-color: #223A;
}
.contenedor:hover {
	box-shadow: #0001 0px 2px 6px;
}
.contClosing {
	animation: desaparece .3s cubic-bezier(.22,.61,.36,1);
}
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	width: 100%;
}
.title h4 {

	text-align: left;
	padding: .25em 10px;
	border-radius: 1em;
}
.title button {
	text-align: center;
	/*
	position: absolute;
	right: .7em;
	*/
	
	width: 2em;
	height: 2em;
	
	border: none;
	border-radius: 50%;
	
	background-color: #0000;
}
.contenedor button:hover {
	background-color: #8888;
	cursor: pointer;
}
.contDatos {
	width: 300px;
	display: flex;
	justify-content: center;
	padding: 5px;
}
.contDatosPron {
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}
.contDatos div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 80px;
}
.contenedor img {
	background-color: #2225;
	border-radius: 1em;
	box-shadow: inset  #0002 0px 3px 8px;
}
.contDatos p {
	text-align: center;
}
.contDatosPron div {
	display: flex;
	align-items: center ;
	justify-content: space-between;
	
	width: 100px;
}
.left {
	border-radius: 1em 0 0 1em;
	margin-left: 10px;
	margin-right: 1px;
}
.right {
	border-radius: 0 1em 1em 0;
	margin-left: 1px;
	margin-right: 10px;
}
.only {
	border-radius: 1em;
	margin: 10px 10px;
}
