/*
 *	Estilos para el Componente Cards
 * */

.contenedor {
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: display ease-out .25s;
}
.welcome {
	text-align: center;
	padding: 8px;
	border-radius: .7em;
}
.dark {
	background-color: #223C;
}
.light {
	background-color: #FFEA;
}
