/*
 *	Estilos para la el componente SearchBar
 * */

.contenedor {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}
.contInput {
	width: 100%;
	min-width: 200px; 
	font-size: 1em;
	
	margin: 8px;
	padding: .7em;
	
	background-color: #1111;
	
	border: none;
	border-radius: 2em;
	box-shadow: inset #0002 0px 3px 8px;
}
.contButton {
	margin: 8px;
	padding: .7em;
	font-size: 1em;
	
	background-color: #fff0; /* Transparente */
	
	border: none;
	border-radius: 1em;
}
.contButton:hover {
	background-color: #8888;
	cursor: pointer;
}
